<div class="profile-setting-fields-container">
  <form class="profile-settings-form" (ngSubmit)=" onSaveChanges()"
        [formGroup]="addAchievementFormGroup">
    <label class="avatar-container" for="imageInput">
      <img [src]="iconUrl" class="avatar"/>
    </label>

    <input class="image-input" id="imageInput" type="file" (change)="onSelectFile($event)"/>

    <div class="profile-settings-fields">
      <mat-form-field class="input-field">
        <input matInput placeholder="NAME" formControlName="name"/>
      </mat-form-field>

      <mat-error *ngIf="addAchievementFormGroup.get('name').invalid && addAchievementFormGroup.get('name').touched">
        Field is required
      </mat-error>

      <mat-form-field class="input-field">
        <input matInput placeholder="DESCRIPTION" formControlName="description"/>
      </mat-form-field>

      <mat-error
        *ngIf="addAchievementFormGroup.get('description').invalid && addAchievementFormGroup.get('description').touched">
        Field is required
      </mat-error>

      <mat-form-field class="input-field">
        <input matInput placeholder="XP" formControlName="xp"/>
      </mat-form-field>

      <mat-error *ngIf="addAchievementFormGroup.get('xp').invalid && addAchievementFormGroup.get('xp').touched">
        Field is required
      </mat-error>
    </div>

    <button [disabled]="addAchievementFormGroup.invalid" mat-button type="submit" class="save-button">
      SAVE CHANGES
    </button>
  </form>
</div>
