<mat-card class="last-achievements-container">
  <div class="header-wrapper">
    <mat-card-title class="component-title">LAST ACHIEVEMENTS</mat-card-title>

    <button mat-button class="request-button" (click)="openRequestAchievementsDialog()">Request</button>
  </div>

  <div class="achievements-container">
    <div class="achievement-container" *ngFor="let item of achievementsList">
      <img [src]="getAchievementIconUrl(item.iconId)" class="achievement-image"/>

      <div class="achievement-title">
        <div>{{ item.name }}</div>

        <div class="achievement-date">{{ item.addedTime | customDate }}</div>
      </div>

      <div class="achievement-xp-container">
        <div class="circle"></div>

        <div class="xp">+ {{item.xp}} xp</div>
      </div>
    </div>
  </div>
</mat-card>
