@import '../../../../assets/scss/theme-colors';

.edit-password-dialog-container {
  width: 60vmin;
  display: flex;
  flex-direction: column;
  color: $textColor;

  .title-button-container {
    display: flex;
    font-size: 3vmin;
    margin: 0 0 3vmin;

    .go-back-button {
      color: #94a3b9;
      font-size: 4vmin;
      height: 4vmin;
      width: 4vmin;
      transform: rotate(180deg);
      cursor: pointer;
      margin: 0 2vmin 0 0;
    }
  }

  .change-password-form {
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    border-radius: 1.5vmin;

    .change-password-fields {
      display: flex;
      flex-direction: column;
      padding: 3vmin 3vmin 10vmin;
    }

    .save-button {
      width: 100%;
      background-color: $mainColor;
      color: $textColor;
      border-radius: 0 0 1.5vmin 1.5vmin;
      font-size: 2vmin;
      font-weight: 100;
      padding: 1.5vmin;
    }
  }
}

@media (max-width: 767px),
(orientation: portrait) {

  .edit-password-dialog-container {
    width: 80vmin;

    .title-button-container {
      .go-back-button {
        font-size: 8vmin;
        height: 8vmin;
        width: 8vmin;
      }

      .title {
        font-size: 5vmin;
      }
    }

    .change-password-form {
      .change-password-fields {
        .input-field {
          font-size: 3vmin;
        }
      }

      .save-button {
        border-radius: 0 0 3vmin 3vmin;
        font-size: 4vmin;
        padding: 1.5vmin;
      }
    }
  }
}
