<div class="edit-password-dialog-container">
  <div class="title-button-container">
    <mat-icon class="go-back-button"
              (click)="closeDialog()">arrow_forward
    </mat-icon>

    <p class="title"> Password change </p>
  </div>

  <div class="change-password-form" [formGroup]="form">
    <div class="change-password-fields">
      <mat-form-field class="input-field">
        <input matInput
               type="password"
               formControlName="oldPassword"
               placeholder="OLD PASSWORD"/>

        <mat-error>
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field" formGroupName="newPassword">
        <input matInput
               type="password"
               formControlName="password"
               placeholder="NEW PASSWORD"/>

        <mat-error>
          <span *ngIf="newPasswordForm.controls.password.hasError('required')">
            This field is required
          </span>

          <span *ngIf="newPasswordForm.controls.password.hasError('pattern')">
            Password must contain capital latter, digit and to be at least 8 signs long
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field" formGroupName="newPassword">
        <input matInput
               type="password"
               formControlName="confirmPassword"
               [errorStateMatcher]="parentErrorStateMatcher"
               placeholder="CONFIRM PASSWORD"/>

        <mat-error>
          <span *ngIf="newPasswordForm.controls.confirmPassword.hasError('required')">
            This field is required
          </span>

          <span *ngIf="newPasswordForm.hasError('passwordsAreNotEqual')">
            Passwords must be equal
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-button
            class="save-button"
            [ngStyle]="{'opacity': form.invalid ? '0.6' : '1'}"
            (click)="changePassword()"
            [disabled]="form?.invalid">
      SAVE CHANGES
    </button>
  </div>
</div>
