<mat-card class="full-list-of-achivements-container">
  <mat-card-title>FULL LIST OF ACHIVEMENTS</mat-card-title>

  <table class="achivements-table">
    <tr>
      <th>Achivement</th>

      <th>EXP points</th>

      <th>Date</th>
    </tr>

    <tr *ngFor="let item of achivementsList">
      <td class="achivement-cell">
        <img src="./../../../../../assets/images/star@2x.png" />

        <p>{{ item.achivement }}</p>
      </td>

      <td>+ {{ item.expPoints }} XP</td>

      <td>{{ item.date }}</td>
    </tr>
  </table>
</mat-card>
