@import './theme-colors.scss';


.mat-drawer-container {
  background-color: $backgroundColor;

  //override material toolbar
  .mat-toolbar-single-row {
    height: 60px;
    background-color: $secondaryColor;

    //override material tabs
    .mat-primary {
      margin-top: -12px;
      border-bottom: none;
    }
  }

  //override material sidenav
  .mat-sidenav {
    width: 378px;
    background-color: $secondaryColor;

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
    }

    .mat-icon-button {
      color: $textColor;
    }
  }

  .mat-tab-link {
    font-weight: 300;
    font-size: 20px;
    color: $textColor;
    opacity: 1;
    padding-top: 11px;
  }

  .mat-tab-label-active {
    color: $mainColor;
  }


  .mat-ink-bar.mat-ink-bar {
    background-color: $mainColor;
    height: 7px;
    top: 0;
  }
}


//override material input
.mat-form-field {
  color: $textColor;
  margin-top: 40px;

  .mat-form-field-label {
    color: $textColor;
  }

  .mat-input-element {
    caret-color: $textColor;
    font-size: 27px;
    font-weight: 300;
  }

  .mat-form-field-underline {
    background-color: $textColor;
  }

  &.mat-focused {
    .mat-form-field-label {
      color: $textColor;
      font-weight: 300;
    }

    .mat-form-field-ripple {
      background-color: $textColor;
    }
  }
}

// stepper override
.mat-stepper-vertical {
  .mat-vertical-stepper-header {
    padding: 0;
    height: 4vmin;
    pointer-events: none;

    .mat-step-icon {
      display: none;
    }

    .mat-step-label {
      display: flex;
      flex: 1;
      align-items: center;
      z-index: 1;
    }
  }

  .mat-vertical-content-container {
    margin-left: 1.5vmin;


    .mat-vertical-content {
      padding: 0 1vmin 1vmin 2vmin;
    }
  }

  .mat-vertical-stepper-content {
    height: 100% !important;
    visibility: visible !important;
  }
}

.mat-stepper-vertical-line::before {
  border-left: 0.1vmin solid #68B70C;
}


//dialog styles
.mat-dialog-container {
  padding: 0 !important;
  display: block;
  border-radius: 4px;
  overflow: visible !important;
  outline: 0;
  max-width: 1800px !important;
  height: 100%;
  width: 100% !important;
  min-height: inherit;
  max-height: inherit;
  background-color: transparent;
}

//select override

.mat-select {
  color: $mainColor;

  .mat-option {
    background-color: $secondaryColor;
  }

  .mat-select-panel .mat-option.mat-selected {
    background-color: $secondaryColor;
  }

  .mat-focused.mat-primary .mat-select-arrow {
    color: $textColor;
  }

  .mat-select-arrow {
    color: $textColor !important;
  }

  .mat-select-value {
    color: $mainColor;
  }
}

@media (max-width: 1440px) {
  .mat-drawer-container {
    .mat-toolbar-single-row {
      .mat-primary {
        .mat-tab-link {
          font-size: 15px;
          min-width: 90px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .mat-drawer-container {
    .mat-sidenav {
      width: 275px;
    }
  }
}

//mat-table override
.mat-tab-label-content {
  color: $textColor;
}

.mat-table {
  .mat-header-cell {
    padding: 0 20px;
    color: $textColor;
  }

  .mat-cell {
    padding: 0 20px;
    color: $textColor;
  }

  .mat-tab-label {
    color: $textColor;
  }

}


//buttons override
app-personal-achievements, app-challenges {
  .request-button {
    display: flex;
    height: 3vmin;
    min-width: unset;

    .mat-button-wrapper {
      line-height: normal;
    }
  }
}
