@import './theme-colors.scss';

.mat-drawer-container {
  background-color: $backgroundColor;

  //override material toolbar
  .mat-toolbar-single-row {
    height: 60px;
    background-color: $secondaryColor;

    //override material tabs
    .mat-primary {
      margin-top: -12px;
      border-bottom: none;
    }
  }

  //override material sidenav
  .mat-sidenav {
    width: 35vmin;
    background-color: $secondaryColor;

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // header override
  .menu-header-container {
    .mat-tab-nav-bar {
      margin: 0;

      .mat-tab-links {
        height: 100%;

        .mat-tab-link {
          height: 100%;
          font-weight: 100;
          font-size: 2vmin;
          color: $textColor;
          opacity: 1;
          padding: 0 2vmin;
          min-width: 90px;
        }

        .mat-tab-label-active {
          color: $mainColor;
        }

        .mat-ink-bar.mat-ink-bar {
          background-color: $mainColor;
          height: 0.5vmin;
          top: 0;
        }
      }
    }
  }
}

//override material input
.mat-form-field {
  color: $textColor;
  margin-top: 2vmin;

  .mat-form-field-label {
    color: $textColor;
  }

  .mat-input-element {
    caret-color: $textColor;
    font-size: 2.5vmin;
    font-weight: 100;
  }

  .mat-form-field-underline {
    background-color: $textColor;
  }

  &.mat-focused {
    .mat-form-field-label {
      color: $textColor;
      font-weight: 300;
    }

    .mat-form-field-ripple {
      background-color: $textColor;
    }
  }
}

// stepper override
.mat-stepper-vertical {
  .mat-vertical-stepper-header {
    padding: 0;
    height: 4vmin;
    pointer-events: none;

    .mat-step-icon {
      display: none;
    }

    .mat-step-label {
      display: flex;
      flex: 1;
      align-items: center;
      z-index: 1;
    }
  }

  .mat-vertical-content-container {
    margin-left: 1.5vmin;

    .mat-vertical-content {
      padding: 0 1vmin 1vmin 2vmin;
    }
  }

  .mat-vertical-stepper-content {
    height: 100% !important;
    visibility: visible !important;
  }
}

.mat-stepper-vertical-line::before {
  border-left: 0.1vmin solid #68B70C;
  border-left-width: 0.1vmin !important;
}

//select override
.mat-select {
  color: $mainColor;

  .mat-option {
    background-color: $secondaryColor;
  }

  .mat-select-panel .mat-option.mat-selected {
    background-color: $secondaryColor;
  }

  .mat-focused.mat-primary .mat-select-arrow {
    color: $textColor;
  }

  .mat-select-arrow {
    color: $textColor !important;
  }

  .mat-select-value {
    color: $mainColor;
  }
}


//mat-table override
.mat-tab-label-content {
  color: $textColor;
}

.mat-table {
  .mat-header-cell {
    padding: 0 20px;
    color: $textColor;
  }

  .mat-cell {
    padding: 0 20px;
    color: $textColor;
  }

  .mat-tab-label {
    color: $textColor;
  }
}

//buttons override
app-personal-achievements,
app-challenges,
app-last-achievements,
app-user {

  .request-button,
  .edit-user-button {
    display: flex;
    height: 3vmin;
    min-width: unset;

    .mat-button-wrapper {
      line-height: normal;
    }
  }
}


@import './material-override.responsive.scss';
