$mainColor:  #68B70C;

$secondaryColor: #3A3E46;
$backgroundColor: #2C2C2C;

$textColor: #FFFFFF;

$backdropColorLight: #00000078;
$backdropColorDark: #000000ab;

$errorColor: #b70b0b;

$avatarBackgroundColor: #566271;
