@import "../../../../../assets/scss/theme-colors";

.order-request-container {
  width: 70vmin;
  border-radius: 2vmin;

  .modal-form {
    margin: 8vmin 0 0;
  }

  .image-container {
    width: 15vmin;
    height: 15vmin;
    top: -7.5vmin;
    right: 5vmin;

    .image {
      width: 15vmin;
      height: 15vmin;
      border-width: 0.2vmin;
    }
  }

  .order-title {
    width: 100%;
    color: #FFFFFF;
    font-size: 3.5vmin;
    padding: 3vmin 3vmin 0;
  }

  .order-price {
    color: $textColor;
    width: 100%;
    font-size: 1.7vmin;
    padding: 0.2vmin 3vmin 0;
  }

  .label {
    font-size: 1.7vmin;
    width: 100%;
    color: $textColor;
    padding: 2vmin 3vmin 0;
  }


  .modal-fields {
    padding: 1vmin 3vmin 2vmin;

    .input-form {
      width: 100%;
    }
  }

  .container-with-padding {
    padding: 0 3vmin;
  }

  .save-button {
    height: 6vmin;
    font-size: 2vmin;
    border-radius: 0 0 2vmin 2vmin;
  }
}

@import 'request-order-modal.responsive.component';
