<div class="card-container">
  <mat-card class="card">
    <div class="main-container">

      <div class="other-user-container">
        <div class="avatar-text" *ngIf="!pageData.avatarId else avatarExists">
          <p>{{letterAvatar(pageData.firstName, pageData.lastName)}}</p>
        </div>
        
        <div class="user-name">{{pageData.firstName}} {{pageData.lastName}}</div>

        <div class="user-achivments-info">

          <div class="user-achivments-elements">
            <p class="user-achivments-title">Total:</p>
            <p class="user-achivments-text">{{ totalBadgesCount }} Badges</p>
          </div>

          <div class="user-achivments-elements">
            <p class="user-achivments-title">EXP:</p>
            <p class="user-achivments-text">{{pageData.xp}} XP</p>
          </div>

          <div class="user-achivments-elements">
            <p class="user-achivments-status">"{{pageData.status}}"</p>
          </div>
        </div>
      </div>

      <div class="achievement-container">
        <div class="achievement-list">
          <div class="achievement-item" *ngFor="let item of achievementsData">
            <img src="./../../../../../assets/images/star.png">
            <div class="img-text">{{item.name}}</div>
            <!-- <div class="counter" *ngIf="item.count>1">{{item.count}}</div> -->
          </div>
        </div>
      </div>

      <div class="close-button" (click)="closeOtherUser()">
        <i class="material-icons">close</i>
      </div>
    </div>
  </mat-card>

  <button mat-button class="request-button" (click)="openForm()"> SAY THANKS</button>
</div>
<ng-template #avatarExists>
    <img [src]="getAvatarId(pageData.avatarId)" class="avatar" />
  </ng-template>