@import './../../../../../assets/scss/theme-colors.scss';

.total-achievements-container {
  background-color: $secondaryColor;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $textColor;

  .mat-card-title {
    font-size: 20px;
    font-weight: 300;
  }

  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 30px;
      margin-top: -20px;
    }

    .experience-count {
      color: $mainColor;
      font-size: 150px;
    }
  }

  .badges-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 18px;
      margin-top: -5px;
    }

    .badges-count {
      color: $mainColor;
      font-size: 50px;
    }
  }

  .additional-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }
}

@media (max-width: 1920px) {
  .total-achievements-container {
    justify-content: space-between;
    .mat-card-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .experience-container {
      margin-bottom: 10px;

      p {
        font-size: 30px;
        margin-top: -5px;
      }

      .experience-count {
        font-size: 80px;
      }
    }

    .badges-container {
      p {
        font-size: 20px;
        margin-top: 0px;
      }

      .badges-count {
        font-size: 50px;
      }
    }

    .additional-info {
      padding-top: 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 1440px) {
  .total-achievements-container {
    padding: 15px;
    .mat-card-title {
      font-size: 15px;
      margin-bottom: 15px;
    }

    .experience-container {
      margin-bottom: 10px;

      p {
        font-size: 25px;
        margin-top: -5px;
      }

      .experience-count {
        font-size: 60px;
      }
    }

    .badges-container {
      p {
        font-size: 15px;
        margin-top: 0px;
      }

      .badges-count {
        font-size: 35px;
      }
    }

    .additional-info {
      padding-top: 10px;
      font-size: 9px;
    }
  }
}
