@import '../../../../assets/scss/theme-colors';

.header-container {
  display: flex;
  justify-content: space-between;
  height: 6vmin;
  padding: 0 2vmin;

  .button-logo-container {
    display: flex;

    .open-sidenav-button {
      width: 2vmin;
      margin: 0 1.5vmin 0 0;

      .material-icons {
        font-size: 2vmin;
        width: 2vmin;
      }
    }

    .logo-span {
      color: $textColor;
      font-size: 2vmin;
      align-self: center;
    }
  }

  .menu-header-container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .user-info-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    .avatar {
      width: 4vmin;
      height: 4vmin;
      border-radius: 50%;
      object-fit: cover;
      border: 0.1vmin solid $textColor;
    }

    .avatar-text {
      width: 4vmin;
      height: 4vmin;
      border-radius: 50%;
      object-fit: cover;
      border: 0.1vmin solid $textColor;
      color: $mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #576271;
      font-size: 1.7vmin;
    }

    .user-name {
      font-weight: 100;
      font-size: 1.5vmin;
      align-self: center;
      margin-left: 2vmin;
    }
  }
}

@media (max-width: 991px) {
  .header-container {
    .menu-header-container {
      display: none;
    }

    .user-info-container {
      display: none;
    }
  }
}
