<mat-toolbar color="primary" class="header-container">
  <div class="button-logo-container">
    <mat-icon class="open-sidenav-button" (click)="openSidenav()">menu</mat-icon>

    <span class="logo-span">GMFCTN!</span>
  </div>

  <div class="menu-header-container">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive" [routerLinkActiveOptions]="{ exact: true }">
        {{ item.name }}
      </a>
    </nav>
  </div>

  <div class="user-info-container">
    <div *ngIf="!avatarSource else avatarExists">
      <div class="avatar-text">
        <p>{{letterAvatar()}}</p>
      </div>
    </div>

    <ng-template #avatarExists>
      <img [src]="getAvatarLink(avatarSource)" class="avatar"/>
    </ng-template>

    <div class="user-name">{{ userName }}</div>

    <mat-icon class="open-menu-button" [matMenuTriggerFor]="userMenu">arrow_drop_down</mat-icon>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item *ngIf="!isUserAdmin" (click)="openEditProfileDialog()">Edit profile</button>

      <mat-divider></mat-divider>

      <button mat-menu-item *ngIf="!isUserAdmin" (click)="openChangePasswordDialog()">Change password</button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logOut()">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>
