<div class="change-pas-page-container">
  <div class="change-pas-fields-container">
    <form class="change-pas-form" (ngSubmit)="onResetPassword()" [formGroup]="changePasForm">
      <div class="change-pas-fields">
        <mat-form-field class="input-field">
          <input matInput placeholder="New password" formControlName="password"/>
        </mat-form-field>
        <button
          mat-button
          type="submit"
          class="change-pas-button"
          [disabled]="changePasForm.invalid"
          [ngStyle]="{'opacity': changePasForm.invalid ? '0.6' : '1'}"
        >
          Confirm your new password
        </button>
      </div>
    </form>
  </div>

  <img src="../../../../assets/images/Logo%20Exoft%20white@2x.png" />

</div>
