<div class="change-pas-page-container">
  <div class="change-pas-fields-container">
    <form class="change-pas-form" (ngSubmit)="onResetPassword()" [formGroup]="changePasForm">
      <div class="change-pas-fields">
        <mat-form-field class="input-field">
          <input type="password" matInput placeholder="New password" formControlName="password"/>
        </mat-form-field>

        <mat-form-field class="input-field">
          <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword"/>
        </mat-form-field>

        <button mat-button
                type="submit"
                class="change-pas-button"
                [disabled]="changePasForm.invalid"
                [ngStyle]="{'opacity': changePasForm.invalid ? '0.6' : '1'}">
          Confirm your new password
        </button>
      </div>
    </form>
  </div>

  <img src="../../../../assets/images/exoft-logo-image.png"/>
</div>
