@import '../../assets/scss/theme-colors';

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .card {
    background-color: $secondaryColor;
    color: $textColor;

    .link {
      color: $textColor;

      .user-table {
        background-color: $secondaryColor;

        .admin-page-actions{
          display: flex;
          height: 48px;
          padding: 7px;
        }
        .delete {
          background-color: #68B70C;
          border-radius: 1px;
          margin-left: 10px;
        }
        .approve{
          background-color: #68B70C;
          border-radius: 1px;
          margin-left: 10px;
        }
        .decline{
          background-color: #A61111;
          border-radius: 1px;
          margin-left: 10px;

        }
        .invisible{
          visibility: hidden;
        }

        .update {
          background-color: #68B70C;
          border-radius: 1px;
          margin-left: 10px;
        }

        #add-container {
          padding: 0 24px 0 37px !important;
        }

        .add {
          background-color: #68B70C;
          border-radius: 1px;
          margin-left: 68px;
        }

        td {
          font-weight: 300;
        }

        th {
          font-size: 17px;
          width: 20vw;
        }

      }
    }

  }
}
