@import "../../../../assets/scss/theme-colors";

.card {
  background-color: $secondaryColor;
  color: $textColor;
  width: 100%;

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .label {
      padding: 50px 20px 0 20px;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
    }

    .form {
      width: 100%;
      margin: 0;
    }

    .button {
      display: flex;
      justify-content: center;

      .submit-button {
        background-color: $mainColor;
        border-radius: 1px;
        width: 150px;
        font-size: 18px;
      }
    }

    .close-button {
      color: $mainColor;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      .material-icons {
        font-size: 35px;
      }
    }
  }
}
