<mat-card class="card">
  <div class="content-container">
    <div class="title">Leave the comment</div>

    <mat-form-field class="message-field">
      <textarea matInput [formControl]="message" matTextareaAutosize matAutosizeMinRows=2
                matAutosizeMaxRows=5></textarea>
    </mat-form-field>

  </div>

  <button mat-button class="submit-button" (click)="sendMessage()" [disabled]="!message.valid">Thanks!</button>

  <mat-icon class="close-button" (click)="closeForm()">close</mat-icon>
</mat-card>
