@import "../../../../assets/scss/theme-colors";

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: $secondaryColor;
  color: $textColor;
  position: relative;

  .content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4vmin;

    .title {
      font-size: 3vmin;
    }

    .message-field {
      font-size: 2vmin;
    }
  }

  .submit-button {
    width: 100%;
    padding: 1vmin;
    background-color: $mainColor;
    font-size: 3vmin;
    border-radius: 0 0 2vmin 2vmin;
  }

  .close-button {
    position: absolute;
    cursor: pointer;
    top: 1vmin;
    right: 2vmin;
    font-size: 3vmin;
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .card {
    height: auto;

    .content-container {
      padding: 4vmin;

      .title {
        font-size: 4vmin;
      }

      .message-field {
        font-size: 4vmin;
      }
    }

    .submit-button {
      font-size: 2.5vh;
      height: 5vh;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .close-button {
      top: 2vmin;
      right: 3vmin;
      font-size: 4vmin;
    }
  }
}
