<mat-toolbar color="primary" class="header-container">
  <div class="button-logo-container">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="openSidenav()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <span class="logo-span">GMFCTN!</span>
  </div>

  <div class="menu-header-container">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let item of menuItems"
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.name }}
      </a>
    </nav>
  </div>

  <div class="user-info-container">
    <img [src]="avatarSource" class="avatar" />

    <div class="user-name">{{ userName }}</div>
  </div>
</mat-toolbar>
