<table mat-table [dataSource]="dataSource" class="admin-page-table">
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>

    <td mat-cell *matCellDef="let element">
     <img [src]="getImageUrl(element.iconId)"  class="avatar">
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title</th>

    <td mat-cell *matCellDef="let element"> {{element.title}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description</th>

    <td mat-cell *matCellDef="let element"> {{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>

    <td mat-cell *matCellDef="let element"> {{element.price}} XP</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button class="manage-button" (click)="addOrder()">Add</button>
    </th>

    <td mat-cell class="admin-page-actions" *matCellDef="let element">
      <button mat-button
              class="manage-button"
              (click)="editOrder(element)">
        Edit
      </button>

      <button mat-button
              class="manage-button"
              (click)="deleteOrder(element)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #ordersPaginator
               class="admin-table-paginator"
               [length]="paginatorTotalItems"
               [pageSize]="filterForm?.value.page"
               [pageSizeOptions]="paginatorPageSizeOptions"
               (page)="paginatorEvent($event);"
               [pageIndex]="+filterForm?.value.page - 1"></mat-paginator>
