<mat-card class="component-container">
  <mat-card-title class="component-title">TOTAL ACHIEVEMENTS AND EXP</mat-card-title>

  <div class="experience-container">
    <p class="experience-count">{{ experienceCount }}</p>

    <p>EXP</p>
  </div>

  <div class="badges-container">
    <p class="badges-count">{{ badgesCount }}</p>

    <p>BADGES</p>
  </div>

  <div class="additional-info">
    <p>{{ avarageCount }}% more than average</p>

    <p>+{{ newBadgesCount }} new this month</p>
  </div>
</mat-card>
