<div class="dialog-wrapper"
     [formGroup]="form">
  <div class="dialog-title">
    user achievements
  </div>

  <div formArrayName="achievements"
       class="achievements-container">
    <div [formGroupName]="i"
         class="achievement-container"
         *ngFor="let achievement of allAchievements; let i = index;">
      <mat-checkbox formControlName="isSelected"
                    (change)="onAchievementSelect(achievement, $event)"
                    class="achievement-checkbox">{{achievement.name}}</mat-checkbox>

      <div class="achievement-count"
           [ngClass]="!isAchievementSelected(achievement) && 'disabled-count'">
        {{getAchievementCount(achievement)}}

        <div class="scroll-arrows-container">
          <mat-icon class="scroll-arrow"
                    (click)="changeAchivementCount(scrollDirection.forward, achievement)">
            arrow_drop_up
          </mat-icon>

          <mat-icon class="scroll-arrow"
                    [ngClass]="!isScrollDownEnabled(achievement) && 'disabled-arrow'"
                    (click)="changeAchivementCount(scrollDirection.backward, achievement)">
            arrow_drop_down
          </mat-icon>
        </div>
      </div>
    </div>
  </div>

  <button mat-button
          (click)="saveUserAchievements()"
          class="submit-button">
    save changes
  </button>
</div>
