<div class="forgot-pas-page-container">
  <div class="forgot-pas-fields-container">
    <form class="forgot-pas-form" (ngSubmit)="onResetPassword()" [formGroup]="forgotPasForm">
      <div class="forgot-pas-fields">
        <mat-form-field class="input-field">
          <input matInput placeholder="Email" formControlName="email"/>
        </mat-form-field>
        <button
          mat-button
          type="submit"
          class="forgot-pas-button"
          [disabled]="forgotPasForm.invalid"
          [ngStyle]="{'opacity': forgotPasForm.invalid ? '0.6' : '1'}"
        >
          Send reset password link to your email
        </button>
      </div>
    </form>
  </div>

  <img src="../../../../assets/images/Logo%20Exoft%20white@2x.png" />

</div>
