<div class="forgot-pas-page-container">
  <div class="forgot-pas-fields-container">
    <form class="forgot-pas-form" (ngSubmit)="onResetPassword()" [formGroup]="forgotPasForm">
      <div class="forgot-pas-fields">
        <mat-form-field class="input-field">
          <input matInput placeholder="EMAIL" formControlName="email"/>
        </mat-form-field>

        <a class="text-uppercase" (click)="onSignInClick()">back to login ?</a>

        <button mat-button
                type="submit"
                class="forgot-pas-button text-uppercase"
                [disabled]="forgotPasForm.invalid"
                [ngStyle]="{'opacity': forgotPasForm.invalid ? '0.6' : '1'}">
          Forgot password
        </button>
      </div>
    </form>
  </div>

  <img src="../../../../assets/images/exoft-logo-image.png"/>
</div>
