@media (max-width: 767px), (orientation: portrait) {
  .component-container {
    padding: 4vmin;

    .component-title {
      font-size: 4vmin;
    }

    .badges-count {
      .badges-text {
        font-size: 4vmin;
      }

      .count {
        font-size: 20vmin;
      }
    }

    .badges-info {
      font-size: 3vmin;
      padding: 2vmin 0 0 0;

      .statistic-info {
        .dot {
          height: 1vmin;
          width: 1vmin;
          margin: 0 2vmin;
        }
      }
    }
  }
}
