<mat-card class="component-container">
  <mat-card-title class="component-title">FULL LIST OF ACHIEVEMENTS</mat-card-title>

  <table class="achievements-table">
    <tr>
      <th class="achievement-header">Achievement</th>

      <th>EXP points</th>

      <th>Date</th>
    </tr>

    <tr *ngFor="let item of achievementsList">
      <td class="achievement-cell">
        <img src="../../../../assets/images/star-big-image.png"/>

        <p>{{ item.name }}</p>
      </td>

      <td>+ {{ item.xp }} XP</td>

      <td>{{ item.addedTime | customDate}}</td>
    </tr>
  </table>
</mat-card>
