@import '../../../../assets/scss/theme-colors';

.component-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3A3E46;
  color: #FFFFFF;
  padding: 2vmin;
  overflow: auto;

  .component-title {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2vmin;
    font-size: 2.5vmin;
    font-weight: 100;
    letter-spacing: 0.3vmin;
    word-spacing: 0.5vmin;
  }

  .achievements-table {
    width: 100%;
    color: $textColor;
    text-align: center;
    font-size: 1.5vmin;
    border-spacing: 2vmin;

    tr {
      margin-top: 2vmin;

      th {
        font-weight: 300;
        font-size: 2vmin;

        &.achievement-header {
          text-align: left;
        }
      }

      .achievement-cell {
        display: flex;
        align-items: center;

        img {
          height: 6vmin;
          width: 6vmin;
          margin: 0 2vmin 0 0;
          object-fit: cover;
          border-radius: 50%;
          border: 0.2vmin solid $mainColor;
        }
      }
    }
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .component-container {
    padding: 4vmin;

    .component-title {
      margin-bottom: 3vmin;
      font-size: 4vmin;
    }

    .achievements-table {
      font-size: 3vmin;
      border-spacing: 1vmin 3vmin;

      tr {
        th {
          font-size: 3.5vmin;
        }

        .achievement-cell {
          img {
            height: 10vmin;
            width: 10vmin;
            margin: 0 2vmin 0 0;
          }
        }
      }
    }
  }
}
