<mat-card class="card">
  <div class="main-container">
    <div class="other-user-container">
      <div class="avatar-text"
           *ngIf="!userInfo?.avatarId else avatarExists">
        <p>{{ letterAvatar(userInfo?.firstName, userInfo?.lastName) }}</p>
      </div>

      <ng-template #avatarExists>
        <img [src]="getAvatarId(userInfo?.avatarId)"
             class="avatar" />
      </ng-template>

      <div class="user-info-container">
        <div class="user-name">{{ userInfo?.firstName }} {{ userInfo?.lastName }}</div>

        <div class="user-achievements-info">
          <!-- TODO: uncomment when backend will send badges count -->
          <!--<div class="user-achievements-elements">
            <p class="user-achievements-title">Total:</p>

            <p> {{ totalBadgesCount }} Badges</p>
          </div>-->

          <div class="user-achievements-elements">
            <p class="user-achievements-title">EXP:</p>

            <p> {{ userInfo?.xp }} XP</p>
          </div>

          <div class="user-achievements-elements"
               *ngIf="userInfo?.status">
            <p class="user-achievements-status">"{{ userInfo?.status }}"</p>
          </div>
        </div>
      </div>
    </div>

    <div class="achievement-container">
      <div class="achievement-item"
           *ngFor="let achievement of achievements">
        <img class="achievement-image" [src]="getAvatarId(achievement.iconId)">

        <div class="image-text">{{ achievement.name }}</div>
      </div>
    </div>
  </div>

  <button mat-button
          class="request-button"
          (click)="openThankYouForm()"
          [disabled]="!isThankYouButtonEnabled()">
    SAY THANKS
  </button>

  <mat-icon class="close-button"
            (click)="closeDialog()">close</mat-icon>
</mat-card>
