@import "../../../../assets/scss/theme-colors";

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: $secondaryColor;
  color: $textColor;
  position: relative;

  .main-container {
    display: flex;
    flex: 1;
    padding: 4vmin;

    .other-user-container {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar-text {
        height: 20vmin;
        width: 20vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #566271;
        border-radius: 50%;
        border: 0.2vmin solid $mainColor;
        font-size: 10vmin;
      }

      .avatar {
        height: 20vmin;
        width: 20vmin;
        border-radius: 50%;
        object-fit: cover;
        border: 0.2vmin solid $mainColor;
      }

      .user-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-name {
          font-size: 3vmin;
          padding: 2vmin 0 0.5vmin 0;
        }

        .user-achievements-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 2vmin;

          .user-achievements-elements {
            display: flex;

            .user-achievements-title {
              color: $mainColor;
              padding: 0 1vmin;
            }
          }
        }
      }
    }

    .achievement-container {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-height: 36vmin;
      overflow: auto;

      .achievement-item {
        width: 20%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1vmin 2vmin;

        .achievement-image {
          width: 10vmin;
          height: 10vmin;
          border-radius: 50%;
          background-size: cover;
          border: 0.2vmin solid $mainColor;

          .mat-badge-content {
            height: 2.5vmin;
            width: 2.5vmin;
            background-color: $mainColor;
            line-height: 2.5vmin;
            font-size: 1.3vmin;
            border: 0.1vmin solid;
            font-weight: normal;
          }
        }

        .image-text {
          font-size: 1.5vmin;
          text-align: center;
        }
      }
    }
  }

  .request-button {
    width: 100%;
    padding: 1vmin;
    background-color: $mainColor;
    font-size: 3vmin;
    border-radius: 0 0 2vmin 2vmin;
  }

  .close-button {
    position: absolute;
    cursor: pointer;
    top: 1vmin;
    right: 2vmin;
    font-size: 3vmin;
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .card {
    .main-container {
      flex-direction: column;
      padding: 2vh;

      .other-user-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        height: 15vh;

        .avatar-text {
          height: 12vh;
          width: 12vh;
          font-size: 6vh;
        }

        .avatar {
          height: 12vh;
          width: 12vh;
        }

        .user-name {
          font-size: 4vmin;
        }

        .user-achievements-info {
          font-size: 3vmin;
        }
      }

      .achievement-container {
        width: 100%;
        max-height: 45vh;
        justify-content: space-between;

        .achievement-item {
          padding: 5vmin 1vmin;
          height: 33vmin;
          width: 30%;

          .achievement-image {
            .mat-badge-content {
              height: 3.5vmin;
              width: 3.5vmin;
              line-height: 0;
              font-size: 2vmin;
              border: 0.2vmin solid;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .image-text {
            font-size: 3vmin;
          }
        }
      }
    }

    .request-button {
      font-size: 2.5vh;
      height: 5vh;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .close-button {
      top: 2vmin;
      right: 3vmin;
      font-size: 4vmin;
    }
  }
}

