.card {
    background-color: #3A3E46;
    color: #FFFFFF;
    height: 100%;

    .flex-container {
        display: flex;
        justify-content: space-between;

        .users-data-wrapper {
            display: flex;
            flex-direction: column;
            width: 45%;
            padding: 22px 0 0 0;
            font-size: 12px;

            .user {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 20px 40px 0 0;

                .user-info {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    &:nth-child(even) {
                        height: 81px;
                    }
                }

                .user-img {
                    width: 30px;
                    height: 30px;
                }

                .user-txt {
                    padding: 0 0 0 10px;
                }

                .xp-txt {
                    padding: 0 0 0 72px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                margin: 0 10px 0 0;
            }

            .list-header {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                color: #68B70C;
                padding: 0 20px 5px 0;
                border-bottom: 1px solid #68B70C;
            }
        }
    }

    .canvas {
        height: 100%;
        width: 60%;
        margin-bottom: 4px;
    }

    canvas {
        height: 342px !important;
    }

}