<mat-card class="card">
  <mat-card-title>TOP CHART</mat-card-title>
  <div class="flex-container">
    <div class="users-data-wrapper">
      <div class="list-header">
        <div>Name</div>
        <div>Total XP</div>
      </div>
      <div class="user">
        <div>
          <div class="user-info" *ngFor="let item of pageData">
            <div class="user-img">
              <img src={{item.img}}>
            </div>
            <div class="user-txt">
              {{item.name}}
            </div>
            <div class="xp-txt">
              {{item.xp}}XP
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="canvas">
      <canvas id="barChart"></canvas>
    </div>
  </div>
</mat-card>