<div class="dashboard-container">
  <app-welcome class="app-welcome"></app-welcome>
  <app-personal-achievements class="app-personal-achievements"></app-personal-achievements>
  <app-thank-you class="app-thank-you"></app-thank-you>
  <app-top-chart class="app-top-charts"></app-top-chart>
  <app-badges class="app-badges"></app-badges>
  <app-challenges class="app-challenges"></app-challenges>
  <app-exoft-achievements class="app-exoft-achievements"></app-exoft-achievements>
</div>
  <!--<div class="main-container">

    <div class="welcome-container">
      <app-welcome></app-welcome>
    </div>

    <div class="flex-container-wrapper">
      <div class="thank-you-pers-achievement-wrapper">
        <app-personal-achievements></app-personal-achievements>
        <app-thank-you></app-thank-you>
      </div>
      <app-top-chart></app-top-chart>
    </div>

    <div class="flex-container-wrapper">
      <app-badges></app-badges>
      <app-challenges></app-challenges>
    </div>
  </div>

  <div class="exoft-achievements">
    <app-exoft-achievements></app-exoft-achievements>
  </div>-->
