@import '../../../../assets/scss/theme-colors';

.sidenav-container {
  height: 100%;

  .sidenav {
    padding: 11px;

    .logo-span {
      color: $textColor;
      font-size: 18px;
      padding: 8px;
      font-weight: 500;
      font-family: Roboto;
      align-self: center;
      position: absolute;
    }

    .close-sidenav-button {
      align-self: flex-end;
    }

    .avatar-text {
      border-radius: 50%;
      width: 166px;
      height: 166px;
      margin: 77px 0 10px 90px;
      object-fit: cover;
      border: 1px solid $textColor;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #576271;
      color: $mainColor;
    }

    .user-name {
      align-self: center;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 400;
      margin-top: 9px;
      color: $textColor;
    }

    .log-out-button {
      height: 22px;
      background-color: $mainColor;
      color: $textColor;
      font-size: 15px;
      font-family: Roboto;
      display: flex;
      align-self: center;
      justify-items: center;
      align-items: center;
      border-radius: 0;
      line-height: 0;
      margin-top: 3px;
    }

    .user-achivments-info {
      margin: 10px 0 15px 0;
      display: flex;
      flex-direction: column;
      align-self: center;

      .user-achivments-elements {
        display: flex;
        flex-direction: row;
        align-self: center;

        .user-achivments-title {
          color: $mainColor;
          font-size: 20px;
          margin: 0px;
          margin-right: 5px;
        }

        .user-achivments-text {
          color: $textColor;
          font-size: 20px;
          margin: 0px;
          font-weight: 300;
        }
      }
    }

    .link {
      color: $textColor;

      text-decoration: none;
      font-size: 29px;
      align-self: center;
      padding-bottom: 6px;
      font-weight: 300;
    }

    .link-active {
      border-bottom: 10px solid $mainColor;
      color: $mainColor;
    }
  }
}

@media (max-width: 991px) {
  .sidenav-container {
    .sidenav {

      .avatar-text {
        width: 140px;
        height: 140px;
        margin-top: 30px;
        font-size: 85px;
        margin: 35px 0 10px 56px;
      }

      .user-name {
        font-size: 25px;
      }

      .log-out-button {
        padding: 10px;
      }

      .user-achivments-info {
        .user-achivments-elements {
          .user-achivments-title {
            font-size: 15px;
          }

          .user-achivments-text {
            font-size: 15px;
          }
        }
      }

      .link {
        font-size: 25px;
      }

      .link-active {
        border-bottom: 7px solid $mainColor;
      }
    }
  }
      .avatar {
        width: 140px;
        height: 140px;
        margin-top: 30px;
      }
}
.avatar {
  border-radius: 50%;
  width: 166px;
  height: 166px;
  object-fit: cover;
  border: 1px solid $textColor;
  margin: 77px 0 10px 0;
  align-self: center;
}
