@media (max-width: 767px),
(orientation: portrait) {
  .sidenav-container {
    height: 100%;

    .sidenav {
      padding: 4vmin;

      .logo-button-container {
        .logo-span {
          font-size: 4vmin;
        }

        .close-sidenav-button {
          font-size: 4vmin;
          width: 4vmin;
          height: 4vmin;
        }
      }

      .avatar {
        width: 40vmin;
        height: 40vmin;
        border: 0.3vmin solid $textColor;
        margin: 14vmin 0 4vmin 0;
      }

      .avatar-text {
        width: 40vmin;
        height: 40vmin;
        margin: 14vmin 0 4vmin 0;
        border: 0.3vmin solid $textColor;
        font-size: 20vmin;
      }

      .user-name {
        font-size: 6vmin;
      }

      .log-out-button {
        font-size: 3vmin;
        line-height: 5vmin;
        margin-top: 1vmin;
        padding: 0 3vmin;
      }

      .user-achivments-info {
        margin: 3vmin 0 3vmin 0;

        .user-achivments-elements {
          .user-achivments-title {
            font-size: 4vmin;
            margin: 0 1vmin 0 0;
          }

          .user-achivments-text {
            font-size: 4vmin;
          }
        }
      }

      .link {
        font-size: 6vmin;
        margin-bottom: 2vmin;
      }

      .link-active {
        border-bottom: 1vmin solid $mainColor;
      }
    }
  }
}
