<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [mode]="'over'" [opened]="false">
    <div class="logo-button-container">
      <span class="logo-span">GMFCTN!</span>

      <mat-icon class="close-sidenav-button" (click)="drawer.close()">menu</mat-icon>
    </div>

    <div *ngIf="!avatarSource else avatarExists">
      <div class="avatar-text">
        <p>{{letterAvatar()}}</p>
      </div>
    </div>

    <div class="user-name">
      {{ userName }}
    </div>

    <div class="buttons-container">
      <button mat-button class="manage-profile-button" (click)="openEditProfileDialog()">Edit profile</button>

      <button mat-button class="manage-profile-button" (click)="openChangePasswordDialog()">Change password</button>

      <button mat-button class="manage-profile-button" (click)="logOut()">Log out</button>
    </div>

    <div class="user-achievements-info">
      <div class="user-achievements-elements">
        <p class="user-achievements-title"> Total: </p>

        <p class="user-achievements-text">{{ totalBadgesCount }} Badges</p>
      </div>

      <div class="user-achievements-elements">
        <p class="user-achievements-title"> EXP: </p>

        <p class="user-achievements-text">{{ xpCount }} XP</p>
      </div>
    </div>

    <a class="link" *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="link-active">
      {{ item.name }}
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (openSidenavEmitter)="drawer.toggle()" [avatarSource]="avatarSource" [userName]="userName"
                *ngIf="isHeaderShown"></app-header>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #avatarExists>
  <img [src]="getAvatarId(avatarSource)" class="avatar"/>
</ng-template>
