.component-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3A3E46;
  color: #FFFFFF;
  padding: 2vmin;

  .component-title {
    margin: 0;
    font-size: 1.5vmin;
  }

  .card-content-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .star-img {
      height: 60%;
      object-fit: contain;
    }

    .image-subtext {
      font-size: 1.3vmin;
      text-align: center;
    }

    .user {
      display: flex;
      justify-content: center;
      align-items: center;

      .user-image-text {
        height: 3vmin;
        width: 3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1vmin solid #FFFFFF;
        border-radius: 50%;
        font-size: 1.3vmin;
        margin: 0 1vmin 0 0;
        color: #68B70C;
      }

      .avatar {
        height: 3vmin;
        width: 3vmin;
        margin: 0 1vmin 0 0;
        border: 0.1vmin solid #68B70C;
        border-radius: 50%;
        object-fit: cover;
      }

      .user-name {
        font-size: 1.3vmin;
        color: #68B70C;
      }
    }
  }

  .no-thank-you-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    text-align: center;
  }
}

@import './thank-you.component.responsive.scss';
