.component-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3A3E46;
  color: #FFFFFF;
  padding: 2vmin;

  .component-title {
    margin: 0;
    font-size: 1.5vmin;
  }

  .card-content-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .star-img {
      height: 60%;
      object-fit: contain;
    }

    .image-subtext {
      font-size: 1.3vmin;
      text-align: center;
    }

    .user {
      display: flex;
      justify-content: center;
      align-items: center;

      .user-image-text {
        height: 3vmin;
        width: 3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1vmin solid #FFFFFF;
        border-radius: 50%;
        font-size: 1.3vmin;
        margin: 0 1vmin 0 0;
        color: #68B70C;
        background-color: #556271;
        cursor: pointer;
      }

      .avatar {
        height: 3vmin;
        width: 3vmin;
        margin: 0 1vmin 0 0;
        border: 0.1vmin solid #68B70C;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        background-color: #576271;
      }

      .user-name {
        font-size: 1.3vmin;
        color: #68B70C;
      }
    }
  }

  .no-thank-you-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    text-align: center;
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .component-wrapper {
    padding: 4vmin;

    .component-title {
      margin: 0;
      font-size: 4vmin;
    }

    .card-content-wrapper {
      height: auto;

      .star-img {
        height: 20vmin;
        margin: 2vmin 0;
      }

      .image-subtext {
        font-size: 4vmin;
        margin: 2vmin 0;
      }

      .user {
        .user-image-text {
          height: 6vmin;
          width: 6vmin;
          border: 0.3vmin solid #FFFFFF;
          font-size: 3vmin;
          margin: 0 3vmin 0 0;
        }

        .avatar {
          height: 6vmin;
          width: 6vmin;
          margin: 0 3vmin 0 0;
          border: 0.3vmin solid #68B70C;
        }

        .user-name {
          font-size: 3vmin;
        }
      }
    }

    .no-thank-you-text {
      font-size: 5vmin;
      padding: 6vmin 0;
    }
  }
}

