<mat-card class="card">
  <div class="header-wrapper">
    <mat-card-title>PERSONAL ACHIEVEMENTS</mat-card-title>
    <button mat-button class="request-button">Request</button>
  </div>

  <div class="achivement-wrapper">

    <div class="achivement" *ngFor="let item of pageData">
      <div class="achivement-image">
         <img [src]=IconId(item.IconId)> 
      </div>

      <div class="achivement-title">
        <div>{{item.name}}</div>
        <div class="achivement-date">{{item.addedTime}}</div>
      </div>
    </div>
  </div>
</mat-card>