.card {
  height: 100%;
  background-color: #3A3E46;
  color: #FFFFFF;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .request-button {
      background-color: #68B70C;
      border-radius: 1px;
      margin-left: 10px;
    }
  }

  .achivement-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 35px 30px;

    .achivement {
      display: flex;
      align-items: center;
      padding: 0 0 20px;

      .achivement-image {
        width: 56px;
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .achivement-title {
        font-size: 18px;
      }

      .achivement-date {
        font-size: 12px;
        padding: 5px 0 0;
      }
    }

    img {
      width: 45px;
      height: 40px;
      border-radius: 3px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .card {
    width: 33vh;

    .header-wrapper {
      .request-button {
        width: 50%;
        margin: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .card {
    width: 100%;

  }
}
