@media (max-width: 767px), (orientation: portrait) {
  .dashboard-container {
    height: auto;
    flex-direction: column;
    padding: 4vmin;

    .components-container {
      height: auto;
      width: 100%;
      padding: 0;

      .app-welcome {
        padding: 0 0 2vmin 0;
      }

      .personal-achivements-thank-you-chart-container,
      .badges-challlenges-container {
        height: auto;
        flex-direction: column;

        .app-personal-achievements,
        .app-thank-you,
        .app-top-charts,
        .app-badges,
        .app-challenges {
          width: 100%;
          padding: 2vmin 0;
        }
      }
    }

    .app-exoft-achievements {
      width: 100%;
      padding: 2vmin 0 0 0;
    }
  }
}
