.dashboard-container {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  padding: 2vmin;

  .components-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2vmin 0 0;

    .app-welcome {
      height: 15%;
      width: 100%;
    }

    .personal-achivements-thank-you-chart-container {
      height: 40%;
      display: flex;
      justify-content: space-between;

      .app-personal-achievements {
        width: 25%;
        padding: 0 1vmin 0 0;
      }

      .app-thank-you {
        width: 25%;
        padding: 0 1vmin 0 1vmin;
      }

      .app-top-charts {
        width: 50%;
        padding: 0 0 0 1vmin;
      }
    }

    .badges-challlenges-container {
      height: 40%;
      display: flex;
      justify-content: space-between;

      .app-badges {
        width: 25%;
        padding: 0 1vmin 0 0;
      }

      .app-challenges {
        width: 75%;
        padding: 0 0 0 1vmin;
      }
    }
  }

  .app-exoft-achievements {
    width: 20%;
  }
}
