<div class="sign-in-page-container">
  <div class="sign-in-fields-container">
    <form class="sign-in-form" (ngSubmit)="onSignIn()" [formGroup]="signinForm">
      <div class="sign-in-fields">
        <mat-form-field class="input-field">
          <input matInput placeholder="USERNAME" formControlName="userName" />
        </mat-form-field>

        <mat-form-field class="input-field">
          <input
            matInput
            type="password"
            placeholder="PASSWORD"
            formControlName="password"
          />
        </mat-form-field>

        <a>FORGOT PASSWORD?</a>
      </div>

      <button
        mat-button
        type="submit"
        class="sign-in-button"
        [disabled]="signinForm.invalid"
      >
        SIGN IN
      </button>
    </form>
  </div>

  <img src="../../../assets/images/Logo Exoft white@2x.png" />
</div>
