<div class="badges-page-container">
  <div class="badges-page-row">
    <app-last-achievements class="last-achievements"></app-last-achievements>

    <app-total-achievements-and-exp class="total-achievements-and-exp"></app-total-achievements-and-exp>

    <app-user class="user"></app-user>
  </div>

  <div class="badges-page-row">
    <app-full-list-of-achievements class="full-list-of-achievements"></app-full-list-of-achievements>

    <app-thank-you class="thank-you"></app-thank-you>
  </div>
</div>