.badges-page-container {
  height: calc(100% - 6vmin);
  width: 100%;
  display: flex;
  padding: 2vmin;
  display: flex;
  flex-direction: column;

  .badges-page-row {
    height: 50%;
    width: 100%;
    display: flex;

    .last-achievements,
    .user,
    .thank-you {
      width: 33%;
    }

    .full-list-of-achievements {
      width: 67%;
      padding: 1vmin 1vmin 0 0;
    }

    .last-achievements {
      padding: 0 1vmin 1vmin 0;
    }

    .total-achievements-and-exp {
      width: 34%;
      padding: 0 1vmin 1vmin 1vmin;
    }

    .user {
      padding: 0 0 1vmin 1vmin;
    }

    .thank-you {
      padding: 1vmin 0 0 1vmin;
    }
  }
}

@import './badges.component.responsive.scss';
