<div class="profile-setting-fields-container">
  <form class="profile-settings-form" (ngSubmit)="onSaveChanges()"
        [formGroup]="form">
    <label class="avatar-container" for="imageInput">
      <img *ngIf="!!iconUrl else noIconUploaded" [src]="iconUrl" class="avatar"/>

      <ng-template #noIconUploaded>
        <div class="avatar-text">
          <mat-icon class="upload-arrow">arrow_upward</mat-icon>
        </div>
      </ng-template>
    </label>

    <input class="image-input" id="imageInput" type="file" (change)="onSelectFile($event)"/>

    <div class="profile-settings-fields">
      <mat-form-field class="input-field">
        <input matInput placeholder="NAME" formControlName="name"/>

        <mat-error>
          Field is required
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-field">
        <input matInput placeholder="DESCRIPTION" formControlName="description"/>

        <mat-error>
          Field is required
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-field">
        <input matInput placeholder="XP" formControlName="xp"/>

        <mat-error>
          Enter only digit value
        </mat-error>
      </mat-form-field>

    </div>

    <button [disabled]="form.invalid" mat-button type="submit" class="save-button">
      SAVE CHANGES
    </button>
  </form>
</div>
