<div class="profile-setting-fields-container">
  <form class="profile-settings-form" (ngSubmit)="onSaveChanges()" [formGroup]="form">
    <label class="avatar-container" for="imageInput">
      <img *ngIf="!!avatarUrl else avatarText" [src]="avatarUrl" class="avatar"/>

      <ng-template #avatarText>
        <div class="avatar-text">
          {{letterAvatar(form?.value?.firstName, form?.value?.lastName)}}
        </div>
      </ng-template>
    </label>

    <input class="image-input" id="imageInput" type="file" (change)="onSelectFile($event)"/>

    <div class="profile-settings-fields">
      <mat-form-field class="input-field">
        <input matInput placeholder="USERNAME" formControlName="userName"/>

        <mat-error>
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field small-input">
        <input matInput placeholder="FIRST NAME" formControlName="firstName"/>

        <mat-error>
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field small-input">
        <input matInput placeholder="LAST NAME" formControlName="lastName"/>

        <mat-error>
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field">
        <input matInput placeholder="EMAIL ADDRESS" formControlName="email"/>

        <mat-error>
          Please, enter valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field">
        <input matInput placeholder="STATUS" formControlName="status"/>
      </mat-form-field>
    </div>

    <button mat-button type="submit" class="save-button" [disabled]="form.invalid">
      SAVE CHANGES
    </button>
  </form>
</div>
