<mat-card class="card">
  <mat-card-title>THANK YOU</mat-card-title>

  <div class="card-content-wrapper">
    <div class="star-img">
      <img src="../../assets/images/star@2x.png">
    </div>

    <div class="image-subtext">
      Thank you for your awesome help on my project
    </div>

    <div class="user">
      <div>
        <img class="user-image" src="https://www.lovethegarden.com/sites/default/files/content/articles/UK_wildbirds-01-robin.jpg">
      </div>

      <div class="user-name">
        Name Surname
      </div>
    </div>
  </div>
</mat-card>
