<mat-card class="card">
  <mat-card-title>THANK YOU</mat-card-title>

  <div class="card-content-wrapper">

    <div class="star-img">
      <img src="../../assets/images/star@2x.png">
    </div>

    <div class="image-subtext">
      Thank you for your awesome help on my project
    </div>

    <div class="user" >

      <div class="user-image-text" *ngIf="!pageData.avatarId && pageData.firstName; else avatarExists">
        <p>{{letterAvatar(pageData.firstName, pageData.lastName)}}</p>
      </div>

      <div class="user-name">
        <div class="first-name">{{pageData.firstName}}</div>
        <div class="first-name">{{pageData.lastName}}</div>
      </div>
    </div>
  </div>
</mat-card>

<ng-template #avatarExists>
  <div class="user-image-container">
    <img class="user-image" [src]="AvatarId(pageData.avatarId)">
  </div>
</ng-template>