@import "./../../../assets/scss/theme-colors.scss";

.sidenav-container {
  height: 100%;

  .sidenav {
    padding: 11px;

    .logo-span {
      color: $textColor;
      font-size: 18px;
      padding: 8px;
      font-weight: 500;
      font-family: Roboto;
      align-self: center;
      position: absolute;
    }

    .close-sidenav-button {
      align-self: flex-end;
    }

    .avatar {
      border-radius: 50%;
      width: 166px;
      height: 166px;
      object-fit: cover;
      border: 1px solid $textColor;
      margin-top: 77px;
      align-self: center;
    }

    .user-name {
      align-self: center;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 400;
      margin-top: 9px;
      color: $textColor;
    }

    .log-out-button {
      height: 22px;
      background-color: $mainColor;
      color: $textColor;
      font-size: 15px;
      font-family: Roboto;
      display: flex;
      align-self: center;
      justify-items: center;
      align-items: center;
      border-radius: 0px;
      line-height: 0px;
      margin-top: 3px;
    }

    .user-achivments-info{
      margin: 10px 0px 15px 0px;
      display: flex;
      flex-direction: column;
      align-self: center;

      .user-achivments-elements{
        display: flex;
        flex-direction: row;
        align-self: center;

        .user-achivments-title{
          color: $mainColor;
          font-size: 20px;
          margin: 0px;
          margin-right: 5px;
        }

        .user-achivments-text{
          color: $textColor;
          font-size: 20px;
          margin: 0px;
          font-weight: 300;
        }
      }
    }

    .link{
      color: $textColor;

      text-decoration: none;
      font-size: 29px;
      align-self: center;
      padding-bottom: 6px;
      font-weight: 300;
    }
    .link-active{
      border-bottom: 10px solid $mainColor;
      color: $mainColor;
    }
  }
}













