<mat-card class="component-wrapper">
  <div class="header-wrapper">
    <mat-card-title class="component-title">PERSONAL ACHIEVEMENTS</mat-card-title>

    <button mat-button class="request-button" (click)="openForm()">Request</button>
  </div>

  <div class="achievement-wrapper">
    <div class="achievement" *ngFor="let achievement of achievements">
      <img class="achievement-image" [src]="getIconUrl(achievement.iconId)">

      <div class="achievement-title">
        <div>{{ achievement.name }}</div>

        <div class="achievement-date">{{ achievement.addedTime | customDate }}</div>
      </div>

      <div class="achievement-xp-container">
        <div class="circle"></div>

        <div class="xp">+ {{ achievement.xp }} xp</div>
      </div>
    </div>
  </div>
</mat-card>
