.component-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3A3E46;
  color: #FFFFFF;
  padding: 2vmin;

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    .component-title {
      margin: 0;
      font-size: 1.5vmin;
    }

    .request-button {
      background-color: #68B70C;
      border-radius: 0;
      padding: 0 1.5vmin;
      font-size: 1.5vmin;
    }
  }

  .achievement-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;

    .achievement {
      display: flex;
      height: 25%;
      align-items: center;
      padding: 2vmin 0 0 0;

      .achievement-image {
        height: 100%;
        object-fit: contain;
        padding: 0 1vmin 0 0;
      }

      .achievement-title {
        font-weight: 100;
        font-size: 2vmin;
        flex: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

        .achievement-date {
          font-size: 1.3vmin;
        }
      }

      .achievement-xp-container {
        display: flex;
        height: 95%;
        flex: 1;
        align-items: flex-end;

        .circle {
          width: 1.3vmin;
          height: 1.3vmin;
          background-color: #FCB415;
          border-radius: 50%;
          margin: 0 0.5vmin 0 0;
        }

        .xp {
          color: #FCB415;
          font-size: 1.3vmin;
        }
      }
    }
  }
}

@media (max-aspect-ratio: 3/2) {
  .component-wrapper {
    .achievement-wrapper {
      .achievement {
        .achievement-image {
          height: 80%;
        }

        .achievement-title {
          font-size: 1.7vmin;
          flex: 2;
          justify-content: center;

          .achievement-date {
            font-size: 1vmin;
          }
        }

        .achievement-xp-container {
          align-items: center;

          .circle {
            width: 1vmin;
            height: 1vmin;
          }

          .xp {
            font-size: 1vmin;
          }
        }
      }
    }
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .component-wrapper {
    padding: 4vmin;

    .header-wrapper {
      .component-title {
        font-size: 4vmin;
      }

      .request-button {
        padding: 0 3vmin;
        font-size: 4vmin;
      }
    }

    .achievement-wrapper {
      height: auto;

      .achievement {
        height: auto;
        margin: 1vmin 0;

        .achievement-image {
          height: 10vmin;
          width: 10vmin;
          margin: 0 4vmin 0 0;
        }

        .achievement-title {
          font-size: 4vmin;
          height: auto;

          .achievement-date {
            font-size: 3vmin;
          }
        }

        .achievement-xp-container {
          .circle {
            width: 3vmin;
            height: 3vmin;
            margin: 0 1.5vmin 0 0;
          }

          .xp {
            font-size: 3vmin;
          }
        }
      }
    }
  }
}

