@media (max-aspect-ratio: 3/2) {
  .component-wrapper {
    .achivement-wrapper {
      .achivement {
        .achivement-image {
          height: 80%;
        }

        .achivement-title {
          font-size: 1.7vmin;
          flex: 2;
          justify-content: center;

          .achivement-date {
            font-size: 1vmin;
          }
        }

        .achivement-xp-container {
          align-items: center;

          .circle {
            width: 1vmin;
            height: 1vmin;
          }

          .xp {
            font-size: 1vmin;
          }
        }
      }
    }
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .component-wrapper {
    padding: 4vmin;

    .header-wrapper {
      .component-title {
        font-size: 4vmin;
      }

      .request-button {
        padding: 0 3vmin;
        font-size: 4vmin;
      }
    }

    .achivement-wrapper {
      height: auto;

      .achivement {
        height: auto;
        margin: 1vmin 0;

        .achivement-image {
          height: 10vmin;
          width: 10vmin;
          margin: 0 4vmin 0 0;
        }

        .achivement-title {
          font-size: 4vmin;
          height: auto;

          .achivement-date {
            font-size: 3vmin;
          }
        }

        .achivement-xp-container {
          .circle {
            width: 3vmin;
            height: 3vmin;
            margin: 0 1.5vmin 0 0;
          }

          .xp {
            font-size: 3vmin;
          }
        }
      }
    }
  }
}


