<mat-card class="component-wrapper">
  <div class="header-wrapper">
    <mat-card-title class="component-title">PERSONAL ACHIEVEMENTS</mat-card-title>

    <button mat-button class="request-button" (click)="openForm()">Request</button>
  </div>

  <div class="achivement-wrapper">
    <div class="achivement" *ngFor="let item of pageData">
      <img class="achivement-image" src="assets/images/star.png">

      <div class="achivement-title">
        <div>{{ item.name }}</div>

        <div class="achivement-date">{{ item.addedTime | customDate }}</div>
      </div>

      <div class="achivement-xp-container">
        <div class="circle"></div>

        <div class="xp">+ {{ item.xp }} xp</div>
      </div>
    </div>
  </div>
</mat-card>
