<mat-card class="component-wrapper">
  <div class="header-wrapper">
    <mat-card-title class="component-title">PERSONAL ACHIEVEMENTS</mat-card-title>

    <button mat-button class="request-button" (click)="openForm()">Request</button>
  </div>

  <div class="achievement-wrapper">
    <div class="achievement" *ngFor="let item of pageData">
      <img class="achievement-image" src="../../../../assets/images/star-small-image.png">

      <div class="achievement-title">
        <div>{{ item.name }}</div>

        <div class="achievement-date">{{ item.addedTime | customDate }}</div>
      </div>

      <div class="achievement-xp-container">
        <div class="circle"></div>

        <div class="xp">+ {{ item.xp }} xp</div>
      </div>
    </div>
  </div>
</mat-card>
