<div class="profile-settings-page-container">
  <div class="profile-settings-container">
    <div class="title-button-container">
      <mat-icon class="go-back-button" (click)="onGoBack()">arrow_forward</mat-icon>

      <p class="title"> Profile settings </p>
    </div>

    <form class="profile-settings-form" (ngSubmit)="onSaveChanges()" [formGroup]="profileSettingsForm">
      <label class="avatar-container" for="imageInput">
        <span *ngIf="!avatarId else avatarExists" class="avatar-text">{{ letterAvatar() }}</span>
      </label>

      <ng-template #avatarExists>
        <img [src]="avatarUrl || getAvatarId(avatarId)" class="avatar"/>
      </ng-template>

      <input class="image-input" id="imageInput" type="file" (change)="onSelectFile($event)"/>

      <div class="profile-settings-fields">
        <div class="name-input-container">
          <mat-form-field class="input-field">
            <input matInput placeholder="FIRST NAME" formControlName="firstName"/>
          </mat-form-field>

          <mat-form-field class="input-field">
            <input matInput placeholder="LAST NAME" formControlName="lastName"/>
          </mat-form-field>
        </div>

        <mat-form-field class="input-field">
          <input matInput placeholder="EMAIL ADDRESS" formControlName="email"/>
        </mat-form-field>

        <mat-form-field class="input-field">
          <input matInput placeholder="STATUS" formControlName="status"/>
        </mat-form-field>
      </div>

      <button mat-button type="submit" class="save-button"
              [ngStyle]="{'opacity': profileSettingsForm.invalid ? '0.6' : '1'}"
              [disabled]="profileSettingsForm.invalid">
        SAVE CHANGES
      </button>
    </form>
  </div>
</div>
