@media (max-width: 767px),
(orientation: portrait) {
  .last-achievements-container {
    padding: 4vmin;

    .header-wrapper {
      .component-title {
        font-size: 4vmin;
      }

      .request-button {
        padding: 0 3vmin;
        font-size: 4vmin;
      }
    }

    .achievements-container {
      height: auto;

      .achievement-container {
        height: auto;
        margin: 1vmin 0;

        .achivement-image {
          height: 10vmin;
          width: 10vmin;
          margin: 0 4vmin 0 0;
        }

        .achivement-title {
          font-size: 4vmin;
          height: auto;

          .achievement-date {
            font-size: 3vmin;
          }
        }

        .achivement-xp-container {

          .circle {
            width: 3vmin;
            height: 3vmin;
            margin: 0 1.5vmin 0 0;
          }

          .xp {
            font-size: 3vmin;
          }
        }
      }
    }
  }
}
