<div class="badges-page-container">
  <div class="achievements-container">
    <div class="last-and-total-achievements-container">
      <app-last-achievements class="last-achievements"></app-last-achievements>

      <app-total-achievements-and-exp class="total-achievements-and-exp"></app-total-achievements-and-exp>
    </div>

    <app-full-list-of-achievements class="full-list-of-achievements"></app-full-list-of-achievements>
  </div>

  <div class="user-and-thank-you-container">
    <app-user class="user"></app-user>

    <app-thank-you class="thank-you"></app-thank-you>
  </div>
</div>
