<div class="badges-page-container">
  <div class="achivements-container">
    <div class="last-and-total-achivements-container">
      <app-last-achivements class="last-achivements"></app-last-achivements>

      <app-total-achivements-and-exp class="total-achivements-and-exp"></app-total-achivements-and-exp>
    </div>

    <app-full-list-of-achivements class="full-list-of-achivements"></app-full-list-of-achivements>
  </div>

  <div class="user-and-thank-you-container">
    <app-user class="user"></app-user>

    <app-thank-you class="thank-you"></app-thank-you>
  </div>
</div>
