@media (max-width: 767px), (orientation: portrait) {
  .component-wrapper {
    padding: 4vmin;

    .component-title {
      font-size: 4vmin;
    }

    .users-data-wrapper {
      height: auto;
      font-size: 3vmin;
      padding: 3vmin 0 0 0;

      .list-header {
        font-size: 3vmin;
        padding: 0 1vmin 0 0;
        border-bottom: 0.3vmin solid #68B70C;
        width: 50%;
      }

      .user {
        .user-info {
          height: auto;
          padding: 2vmin 0;

          .user-info-container {
            width: 35%;

            .user-img-text {
              height: 6vmin;
              width: 6vmin;
              border: 0.3vmin solid #68B70C;
              margin: 0 2vmin 0 0;
            }

            .avatar {
              height: 6vmin;
              width: 6vmin;
              border: 0.3vmin solid #68B70C;
              margin: 0 2vmin 0 0;
            }
          }

          .points-count {
            width: 15%;
            font-size: 3vmin;
          }

          .bar {
            width: 50%;
            padding: 0 0 0 3vmin;

            @each $color in $barColors {
              .bar-#{nth($color, 1)} {
                height: 3vmin;
              }
            }
          }
        }
      }
    }
  }
}
