<mat-card class="component-wrapper">
  <mat-card-title class="component-title">TOP CHART</mat-card-title>

  <div class="users-data-wrapper">
    <div class="list-header">
      <div>Name</div>

      <div>Total XP</div>
    </div>

    <div class="user">
      <div class="user-info" *ngFor="let item of pageData; let first = first; let i=index">
        <div class="user-info-container">
          <div class="user-img-text" (click)="openUserDetails(item.id)" *ngIf="item.avatarId===null else avatarExists">
            {{letterAvatar(item.firstName, item.lastName)}}
          </div>

          <ng-template #avatarExists>
            <!-- <img [src]="AvatarId(item.avatarId)" (click)="openUserDetails(item.id)"> -->
            <img class="avatar" src="assets/images/star.png">
          </ng-template>

          <div class="user-txt" (click)="openUserDetails(item.id)"> {{item.firstName}} {{item.lastName}}</div>
        </div>

        <div class="points-count">{{item.xp}}XP</div>

        <div class="bar">
          <div class="bar-{{i}}" [style.width.%]="getXpValue(item.xp)"></div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
