.welcome-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #68B70C;
  padding: 2vmin 4vmin;

  .header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 4vmin;
    font-weight: 100;

    .subheader-text {
      font-size: 2vmin;
    }
  }
}

@media (max-width: 767px),
(orientation: portrait) {
  .welcome-wrapper {
    .header-text {
      font-size: 6vmin;

      .subheader-text {
        font-size: 3vmin;
      }
    }
  }
}

